header {
    background-color: gray;
    padding: 20px;
    color: white;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 40%;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }